body{
    background-color:#111;
    text-align: center;
    font-family: monospace;
    color: #00b3ff;
}
canvas{
    align-items: center;
    background-color:#090909;
}
#board {
	margin: 0 auto;
}
#hiddenCanvas {
    visibility: hidden;
}
#buttons {
    text-align: center;
}
#clearButton {
    text-align: center;
    background-color: #00b3ff;
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 20px;
   
}
#clearButton:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
#submitButton {
    text-align: center;
    background-color: #00c721;
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #00ff2a;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-left: 20px;
   
}
#submitButton:hover{
    background: #00ff2a;
    color: #050801;
    box-shadow: 0 0 5px #00ff2a,
                0 0 25px #00ff2a,
                0 0 50px #00ff2a,
                0 0 200px #00ff2a;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}


