<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
<script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script> 
<title>XD-MNIST</title>
</head>
<body>
    <h1>XD-MNIST</h1>
    <h3>cs50 final project by xtr0d3m0n</h3>
    <h3>Handwritten digits recognizer powered by a neural network written from scratch</h3>
    <canvas id=c></canvas>
    <h3>Draw a digit(0-9) on the pad below</h3>
    <canvas id="board" width="400" height="400"></canvas>
    <br>
    <div id="buttons">
        <a id="clearButton"> Clear </a>
        <a id="submitButton"> Submit </a>
    </div>
    <h3>The Neural Network thinks you drew: {{ predictedDigit }}</h3>
<script src="{{ url_for('static', filename='js/index.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/nnvis.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/drawingBoard.js') }}" type="text/javascript"></script>
</body>
</html>